<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="codiceConferma">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codice conferma</th>
      <td mat-cell *matCellDef="let row">{{row.codiceConferma}}</td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row">{{row.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="prezzoGiornaliero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezzo Giornaliero</th>
      <td mat-cell *matCellDef="let row">{{row.prezzoGIornaliero}}</td>
    </ng-container>

    <ng-container matColumnDef="dataRitiro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Ritiro</th>
      <td mat-cell *matCellDef="let row">{{row.dataRitiro}}</td>
    </ng-container>

    <ng-container matColumnDef="dataConsegna">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Consegna</th>
      <td mat-cell *matCellDef="let row">{{row.dataConsegna}}</td>
    </ng-container>

    <ng-container matColumnDef="nominativo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nominativo</th>
      <td mat-cell *matCellDef="let row">{{row.nominativo}}</td>
    </ng-container>

    <ng-container matColumnDef="codiceFiscale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codice Fiscale</th>
      <td mat-cell *matCellDef="let row">{{row.codiceFiscale}}</td>
    </ng-container>

    <ng-container matColumnDef="prezzoTotale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prezzo Totale</th>
      <td mat-cell *matCellDef="let row">{{row.prezzoTotale}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
