<div>

  <form>
    <div>
      <label>Wish</label>
      <input name="new-wish-text" [(ngModel)]="newWishText">
      <!-- Se si vuole prendere i dati dal binding bidirezionale, bisogna mettere il nome all input, se si trova dentro a <form> -->
    </div>
    <div>
      <button type="submit" (click)="$event.preventDefault(); addNewWish()">
        <!-- due funzioni collegate allo stesso evento-->
        Add Wish
      </button>
    </div>
  </form>

  <div>
    <select [(ngModel)]="listFilter">
      <option value="0">All</option>
      <option value="1">Unfullfilled</option>
      <option value="2">Fullfilled</option>
    </select>
  </div>

  <div>
    <!-- Le parentesi quadre servono per specificare le proprietà dell html ma anche degli oggetti-->
    <wish-list [wishes]="visibleItems"></wish-list>
  </div>

</div>