<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- Questi link servono a me, non all'utente finale -->
      <a mat-list-item href="#" [routerLink]="'/medici'">Medici</a>
      <a mat-list-item href="#" [routerLink]="'/prenota'">Prenota</a>
      <a mat-list-item href="#" [routerLink]="'/prenotazioni'">Prenotazioni</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Visite Mediche</span>
    </mat-toolbar>

    <!-- Stessa cosa di <Outlet/> in react router dom -->
    <router-outlet></router-outlet>
  
  </mat-sidenav-content>
</mat-sidenav-container>
