<mat-card>
  <mat-card-header>
    <mat-card-title>Compila il form</mat-card-title>
  </mat-card-header>
  <form [formGroup]="assistenzaForm" (ngSubmit)="onSubmit()">
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <!-- formControlName serve per fare il binding del valore con il campo della form control-->
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let cat of CATEGORIE" value={{cat.categoria}}>{{cat.categoria}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Durata in Ore</mat-label>
            <input type="number" matInput formControlName="durataOre" min="1">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data Ritiro</mat-label>
            <input matInput [matDatepicker]="picker1" [max]="today" formControlName="dataRitiro">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nominativo</mat-label>
            <input matInput formControlName="nominativo" minlength="4">
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!assistenzaForm.valid">Prenota</button>
      </mat-card-actions>

    </mat-card-content>
  </form>
</mat-card>