<mat-card>
  <mat-card-header>
    <mat-card-title>Compila il form</mat-card-title>
  </mat-card-header>
  <form [formGroup]="noleggioForm" (ngSubmit)="onSubmit()">
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <!-- formControlName serve per fare il binding del valore con il campo della form control-->
            <mat-select formControlName="categoria">
              <mat-option *ngFor="let cat of CATEGORIE" value={{cat.categoria}}>{{cat.categoria}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data Ritiro</mat-label> <!-- Quando viene scelta la data di inizio, la data di consegna deve esssere > di 1 -->
            <input matInput [matDatepicker]="picker1" [min]="minDateWithdrawal" formControlName="dataRitiro">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data Consegna</mat-label>
            <input matInput [matDatepicker]="picker2" [min]="minDateDelivery" formControlName="dataConsegna">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Nominativo</mat-label>
            <input matInput formControlName="nominativo">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Codice Fiscale</mat-label>
            <input matInput formControlName="codiceFiscale">
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!noleggioForm.valid">Prenota</button>
      </mat-card-actions>

    </mat-card-content>
  </form>
</mat-card>