<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <form [formGroup]="loginForm" (ngSubmit)="HandleClick()">
    <mat-card-content>
      <div class="form-container">
      <div class="example-container">
        <mat-form-field>
          <mat-label>Inserisci email</mat-label>
          <input matInput placeholder="nome@esempio.it" formControlName="email" required />
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Inserisci password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <a mat-list-item href="#" [routerLink]="'/register'">Registrati</a>

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Entra</button>
    </mat-card-actions>

    </div>
    </mat-card-content>
  </form>

</mat-card>