<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <form [formGroup]="loginForm" (ngSubmit)="HandleClick($event)">
    <mat-card-content>

      <div class="example-container">
        <mat-form-field>
          <mat-label>Inserisci email</mat-label>
          <input matInput placeholder="nome@esempio.it" formControlName="email" required />
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>

      <mat-form-field class="example-full-width">
        <mat-label>Inserisci password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <mat-divider></mat-divider>

      <a mat-list-item href="#" [routerLink]="'/register'">Registrati</a>
      <button mat-flat-button>Entra</button>


    </mat-card-content>
  </form>

</mat-card>