<mat-card>
  <mat-card-header>
    <mat-card-title>Inserisci la prenotazione</mat-card-title>
  </mat-card-header>
  <form [formGroup]="prenotazioneForm" (ngSubmit)="onSubmit()">
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Medico</mat-label>
            <!-- formControlName serve per fare il binding del valore con il campo della form control-->
            <mat-select formControlName="medico">
              <mat-option *ngFor="let medico of medici" value={{medico.id}}>{{medico.nome}} |
                {{medico.specialita}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Data visita</mat-label>
            <input matInput [matDatepicker]="picker1" [min]="today" formControlName="data">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Ora visita</mat-label>
            <input type="number" min="8" max="18" matInput formControlName="ora"> <!-- TODO controlli ora max 19 min 7-->
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!prenotazioneForm.valid">Prenota</button>
      </mat-card-actions>

    </mat-card-content>
  </form>
</mat-card>